In [ ]:
'''
106 page
'''

# (1) 오름차순 정렬
dataset = [3, 5, 1, 2, 4]
n = len(dataset)
for i in range(0, n-1) : # 1 ~ n-1
    # 앞에 있는 숫자가 크면 뒤의 숫자와 자리바꿈
    for j in range(i+1, n) : # i+1 ~ n-1
        if dataset[i] > dataset[j] :
            tmp = dataset[i]
            dataset[i] = dataset[j] # 3 5
            dataset[j] = tmp
    print(dataset)
print("=" * 50)
print(dataset) # [1, 2, 3, 4, 5]

In [ ]:
# (2) 내림차순 정렬
dataset = [3, 5, 1, 2, 4]
n = len(dataset)
for i in range(0, n-1) : # 1 ~ n-1
    # 앞에 있는 숫자가 작으면 뒤의 숫자와 자리바꿈
    for j in range(i+1, n) : # i+1 ~ n-1
        if dataset[i] < dataset[j] :
            tmp = dataset[i]
            dataset[i] = dataset[j] # 3 5
            dataset[j] = tmp
    print(dataset)
print("=" * 50)
print(dataset) # [5, 4, 3, 2, 1]

In [ ]:
'''
108 page
'''

# 3. 검색
dataset = [5, 10, 18, 22, 35, 55, 75, 103]
value = int(input("검색할 값 입력 : "))

low = 0
high = len(dataset) - 1
loc = 0
state = False

while (low <= high):
    mid = (low + high) // 2

    if dataset[mid] > value:
        high = mid - 1
    elif dataset[mid] < value:
        low = mid + 1
    else: # 찾은 경우
        loc =  mid
        state = True
        break # 반복 exit

if state :
    print('찾은 위치 : %d 번째' %(loc+1))
else :
    print('찾는 값은 없습니다.')

In [ ]:
'''
127 page
'''

# 3) 몬테카를로 시뮬레이션
import random

# 단계 1 : 동전 앞면과 뒷면의 난수 확률분포 함수 정의
def coin(n) :
    result = []
    for i in range(n) :
        r = random.randint(0, 1)
        if (r == 1) :
            result.append(1) # 앞면
        else :
            result.append(0) # 뒷면
    return result

print(coin(10)) 
print("=" * 50)

In [ ]:
# 단계 2 : 몬테카를로 시뮬레이션 함수 정의
def montaCoin(n) :
    cnt = 0
    for i in range(n) :
        cnt += coin(1)[0] # coin 함수 호출

    result = cnt / n # 동전 앞면과 뒷면의 누적 결과를 시행 횟수(n)로 나눈다.
    return result

In [ ]:
#단계 3 : 몬테카를로 시뮬레이션 함수 호출
print(montaCoin(10)) # 0.3
print(montaCoin(30)) # 0.5666667
print(montaCoin(100)) # 0.53
print(montaCoin(1000)) #  0.51
print(montaCoin(10000)) # 0.5033

In [ ]:
'''
139 page
'''

# 래퍼 함수
def wrap(func) :
    def decorated() :
        print('방가워요!')
        func()
        print('잘가요!')
    return decorated # 클로저 함수

# 함수 장식자 적용
@wrap
def hello() :
    print('hi ~ ', "홍길동")


# 함수 호출
hello()

In [ ]:
'''
142 page
'''
def Adder(n):
    if n == 1:  # n=1 -> exit 조건
        return 1
    else:
        # 재귀호출
        result = n + Adder(n - 1)
        # 5(first)->4(5-1) -> 3(4-1) -> 2(3-1) | [1(2-1)]
        '''
        1. stack(5, 4, 3, 2)
        2. 덧셈 : 1 + [2 + 3 + 4 + 5 ]         
        '''
        print(n, end=' ')  # 2 3 4 5
        return result  # 15


print('n=1 :', Adder(1))  # n=1 : 1
print('\nn=5 :', Adder(5))  # n=5 : 15

In [ ]:
print('1234 더조은abc홍길동 ABC_555아이티_6개발원 이사도시'.split())

In [ ]:
'''
195 page
'''

st1 = '1234 더조은abc홍길동 ABC_555아이티_6개발원 이사도시'
st2 = 'test1abcABC 123mbc 45test'
st3 = 'test^홍길동 abc 대한*민국 123$tbc'

import re # 정규표현식 모듈 - 방법1
from re import findall, match, sub # - 방법2

# 1. findall('pattern', string) -> list 반환

# 1) 숫자 찾기
print("\n숫자 찾기")
print(findall('1234', st1, flags=0)) # ['1234']
print(findall('[0-9]', st1)) # ['1', '2', '3', '4', '5', '5', '5', '6']
print(findall('[0-9]{3}', st1)) # ['123', '555']
print(findall('[0-9]{3,}', st1)) # ['1234', '555']
print(findall('\\d{3,}', st1)) # ['1234', '555']
print(findall('\\w{6,}', st1)) # ['1234', '555']

# 2) 문자열 찾기
print("\n문자열 찾기")
print(findall('[가-힣]{3,}', st1)) # 이름 찾기 - ['홍길동', '이사도시']
print(findall('[a-z]{3}', st1)) # ['abc']
print(findall('[a-z|A-Z]{3}', st1)) # ['abc', 'ABC']

# 단어에서 한글 이름 찾기
print("\n단어에서 한글 이름 찾기")
st_list = st1.split()
print("st_list :\n",st_list) 
# ['1234', '더조은abc홍길동', 'ABC_555아이티_6개발원', '이사도시']

names = [] # 이름 저장
for st in st_list : # 'abc홍길동'
    name = findall('[가-힣]{3,}', st) # 'abc홍길동' -> ['홍길동']
    # print("name :",name)

    if name : # 1개 이상 원소
        #names.append(name) # [ ['홍길동'] ] -> 중첩list
        for n in name:
            names.append(n) # ['홍길동', '이사도시']

print('names :', names) # names : ['홍길동', '이사도시']


# 3. 문자열 찾기
print("\n\n문자열 찾기")
st2 = 'test1abcABC 123mbc 45test'

# 접두어/접미어
print("접두어/접미어")
print(findall('^test1a', st2)) # 접두어 - ['test1a']
print(findall('^1a', st2)) # 접두어 - ['1a']
print(findall('est$', st2)) # 접미어 - ['est']
print(findall('dsfe$', st2)) # 접미어 - ['dsfe']


st2 = 'test1abcABC 123mbc 45test'

# 종료 문자 찾기 : abc, mbc
print("\n종료 문자 찾기 : abc, mbc")
print(findall('.bc', st2)) # ['abc', 'mbc']
print(findall('.c', st2)) # ['bc', 'bc']

# 시작 문자 찾기
print("\n시작 문자 찾기")
print(findall('t.', st2)) # ['te', 't1', 'te']
print(findall('3.', st2)) # ['3m']


# 4. 단어 찾기(\\w) - 한글,영문,숫자
print("\n단어 찾기(\\w) - 한글,영문,숫자")
st3 = 'test^홍길동 abc 대한*민국 123$tbc'

words = findall('\\w{3,}', st3)
print("words :\n",words) # ['test', '홍길동', 'abc', '123', 'tbc']

# 5. 문자열 제외 : x+(x가 1개 이상 반복)
print("\n문자열 제외 : x+(x가 1개 이상 반복)")
print(findall('[^t]+', st3)) # ['es', '^홍길동 abc 대한*민국 123$', 'bc']
# 특수문자 제외
print("\n특수문자 제외")
print(findall('[^^*$]+', st3)) # ['test', '홍길동 abc 대한', '민국 123', 'tbc']

In [ ]:
'''
197 page
'''
from re import match

# 2.match(pattern, string, flags)
# - 패턴 일치 여부 반환 : object 반환(일치) or NULL(불일치)

# (1) 패턴과 일치된 경우
jumin = '123456-3234567'
result = match('[0-9]{6}-[1-4][0-9]{6}', jumin)
print(result) # <re.Match object; span=(0, 14), match='123456-1234567'>
# None = Null

if result : # object
    print('주민번호 일치') # 주민번호 일치
else : # null
    print('잘못된 주민번호')

# (2) 패턴과 불일치된 경우
jumin = '123456-5234567'
result = match('[0-9]{6}-[1-4][0-9]{6}', jumin)
print(result) # <re.Match object; span=(0, 14), match='123456-1234567'>
# None = Null

if result : # object
    print('주민번호 일치') # 주민번호 일치
else : # null
    print('잘못된 주민번호')

In [ ]:
'''
198 page
'''
from re import sub

# 3.sub(pattern, repl, string)
# 텍스트 전처리 용도
st3 = 'test^홍길동 abc 대한*민국 123$tbc'

# ^ 앞부분에 \를 붙이는 이유 : ^가 메타문자가 아닌 특수문자로 인식(\특수문자)
# 이스케이프 문자인 경우 : \\이스케이프문자

# (1) 특수문자 제거
text1 = sub('[\^*$]+', '', st3)
print(text1)
# text : test홍길동 abc 대한민국 123tbc

# (2) 숫자 제거
text2 = sub('[0-9]', '', text1)
print(text2)
# test홍길동 abc 대한민국 tbc

In [ ]:
'''
199 page
'''
from re import split, match, compile

multi_line = """http://www.naver.com
http://www.daum.net
www.hongkildong.com"""

# (1) 구분자("\n")를 이용하여 문자열 분리
web_site = split("\n", multi_line) # st4.split(sep="\n")
web_site # ['http://www.naver.com', 'http://www.daum.net', 'www.hongkildong.com']

# (2) 패턴 객체 만들기
pat = compile("http://")

# (3) 패턴 객체를 이용하여 정상 웹 주소 선택하기
sel_site = [site for site in web_site if match(pat, site)]
print(sel_site) # ['http://www.naver.com', 'http://www.daum.net']

In [ ]:
'''
201 page
'''
# 한글 텍스트 전처리
from re import findall, sub

# 텍스트
texts = [' 우리나라    대한민국, 우리나라%$ 만세', '비아그&라 500GRAM 정력 최고!', '나는 대한민국 사람', '보험료 15000원에 평생 보장 마감 임박', '나는 홍길동']

# 1. 소문자 변경
# list 내포 : 변수 = [실행문 for 변수 in 열거형data]
texts_re1 = [t.lower() for t in texts]
print('texts_re1 :', texts_re1)

# 2. 숫자 제거
# list 내포 : [실행문 for 변수 in 열거형객체], 실행문(숫자 제외 -> 문자결합)
texts_re2 = [sub("[0-9]", '', text) for text in texts_re1]
print('texts_re2 :', texts_re2)

# 3. 문장부호 제거
texts_re3 = [sub('[,.?!:;]', '', text) for text in texts_re2]
print('texts_re3 :', texts_re3)

# 4. 특수문자 제거 : re.sub() 이용
spec_str = '[@#$%^&*()]'
texts_re4 = [sub(spec_str, '', text) for text in texts_re3]
print('texts_re4 :', texts_re4)

# 5. 영문 제거
texts_re5 = [''.join(findall("[^a-z]", text)) for text in texts_re4]
print('texts_re5 :', texts_re5)

# 6. 공백제거 제거 : 'abtta a' -> 'abtta', 'a' -> 'abttaa'
texts_re6 = [' '.join(text.split()) for text in texts_re5]  # 공백기준 split -> join
print('texts_re6 :', texts_re6)
# ['우리나라 대한민국 우리나라 만세', '비아그라 정력 최고', '나는 대한민국 사람', '보험료 원에 평생 보장 마감 임박', '나는 홍길동']

In [ ]:
'''
226 page
'''
# 1. os 모듈의 파일과 디렉터리 관련 함수
import os

# 현재 작업 디렉터리 경로
print(os.getcwd())

# 작업 디렉터리 변경
os.chdir('test')
print(os.getcwd())

# 현재 작업 디렉터리 목록
print(os.listdir('.'))


# 상상위 디렉터리 이동
os.chdir('../..')

# 현재 작업 디렉터리 목록
print(os.listdir('.'))
print(os.getcwd())

# 작업 디렉터리 변경
os.chdir('day21')
print(os.getcwd())

# 현재 작업 디렉터리 목록
print(os.listdir('.'))
print(os.getcwd())


# 여러 개의 디렉터리 삭제
os.removedirs('test/test1/test2')
print(os.listdir('.'))

In [ ]:
'''
240 page
'''
import pandas as pd
import os

In [ ]:
print("현재 디렉토리(폴더) :",os.getcwd())

In [ ]:
# csv 파일에 저장된 data로 DataFrame 객체를 생성함
score = pd.read_csv("C:/Users/user/python_week/test/day09/data/score.csv")

In [ ]:
score.head()

In [ ]:
# 컬럼 추출하기 <-- DataFrame 에서 컬럼 하나만 추출함  <-- Series 
kor  = score.kor
eng  = score.eng
mat  = score.mat
dept = score.dept

In [ ]:
print(kor)

In [ ]:
eng

In [ ]:
mat

In [ ]:
dept

In [ ]:
kor  = score["kor"]
eng  = score["eng"]
mat  = score["mat"]
dept = score["dept"]

In [ ]:
kor

In [ ]:
eng

In [ ]:
mat

In [ ]:
dept

In [ ]:
# 과목별 최고점수
print("국어 최고 점수 :",max(kor))
print("영어 최고 점수 :",max(eng))
print("수학 최고 점수 :",max(mat))

In [ ]:
# 과목별 최저점수
print("국어 최고 점수 :",min(kor))
print("영어 최고 점수 :",min(eng))
print("수학 최고 점수 :",min(mat))

In [ ]:
# 과목별 평균점수
from statistics import mean
print("국어 평균 점수 :",round(mean(kor),3))
print("영어 평균 점수 :",round(mean(eng),3))
print("수학 평균 점수 :",round(mean(mat),3))

In [ ]:
# 학과별 인원수 파악하기 - dept 의 빈도수
# 비어있는 dictionary
dept_count = {}

for key in dept:
    dept_count[key] = dept_count.get(key, 0) + 1
    
print(dept_count)

In [ ]:
'''
242 page
'''
import pandas as pd

In [ ]:
# (1) 엑셀 파일 읽기
sam = pd.ExcelFile("C:/Users/user/python_week/test/day09/data/sam_kospi.xlsx")
sam

In [ ]:
# (2) ExcelFile 객체를 DataFrame 객체로 변환하기
#     ExcelFile 클래스의 parse() 메소드를 호출함
kospi = sam.parse("sam_kospi")
print(type(kospi))
print("=" * 50)
print(kospi)
print("=" * 50)
print(kospi.head())
print("=" * 50)
print(kospi.info())

In [ ]:
# (3) 컬럼값 출력하기
high = kospi["High"]
low  = kospi["Low"]

In [ ]:
# 고가와 저가의 평균 금액 구하기
# statistics 모듈에 있는 mean() 함수 사용하기
from statistics import mean
print("고가 평균 금액 :",format(round(mean(high),2), ","),"원")
print("저가 평균 금액 :",format(round(mean(low),2), ","),"원")

In [ ]:
# Series 객체에 있는 mean() 메소드 사용하기
print("고가 평균 금액 :",format(round(high.mean(),2), ","),"원")
print("저가 평균 금액 :",format(round(low.mean(),2), ","),"원")

In [ ]:
'''
244 page

JSON : JavaScript Object Notation - python 의 dictionary 하고 형태가 비슷함

JSON 파일[문서]
  ㄴ network 상에서 표준으로 사용되는 파일 형식 : 파일 전송시 사용하는 형식

- json 모듈
  ㄴ 1) encoding : Python 객체(dictionary or list) -> json 파일로 변환
                                                     (json 문자열)
     2) decoding : json 파일(json 문자열) -> Python 객체 (dictionary or list)
'''

import json

In [ ]:
'''
 1) json encoding

 Python 객체 (dictionary or list) 를 json 문자열로 변환함
 형식)  json.dumps(python object)
'''
# python dictionary
user = {"id":1234, "name":"홍길동"}
print("user :",type(user))
print(user["name"])

In [ ]:
jsonSTR = json.dumps(user)
print("jsonSTR :\n",jsonSTR)

'''
ensure_ascii 파라미터값이 True 로 되어있으면 한글이 unicode 로 출력됨
ensure_ascii=False 로 설정해야 함  <-- json.dumps(user, ensure_ascii=False)
'''
jsonSTR = json.dumps(user, ensure_ascii=False)
print("jsonSTR :\n",jsonSTR)
print("jsonSTR :",type(jsonSTR))
print("jsonSTR[:5] :", jsonSTR[:5])

In [ ]:
'''
 2)  json decoding
 
 json 문자열을 Python 객체(dictionary or list) 로 변환함
 형식 ) json.loads(jsonString) 
 jsonSTR :
 '{"id": 1234, "name": "홍길동"}'
'''
json2dict = json.loads(jsonSTR)
print("json2dict :\n",json2dict)
print("json2dict :",type(json2dict))
print(json2dict["name"])
for key in json2dict:
    print(key,":",json2dict[key])

In [ ]:
'''
3) json 문자열들이 저장된 파일(usagov_bitly.txt) 읽기
"C:/Users/user/python_week/test/day09/data/usagov_bitly.txt"
'''
file1 = open("C:/Users/user/python_week/test/day09/data/usagov_bitly.txt","r",encoding="utf-8")
# readlines : 문자열은 한 줄씩 읽어서 그 한 줄(문자열)을 요소로 하는 list 를 생성함
lines = file1.readlines()
print("lines :\n",lines)

In [ ]:
# 1) 줄 단위로 읽기 (json string) 
# 2) dictionary 로 변환하기
# 3) list 저장
list_dict = []
for str1 in lines:
    list_dict.append(json.loads(str1))
print("list_dict :\n",list_dict)

In [ ]:
rows = [json.loads(str1) for str1 in lines]
print("rows :\n",len(rows))        
print("rows :\n",rows)

In [ ]:
for row in rows[:10]:
    print(row)

file1.close()

In [88]:
# dictionary 를 DataFrame 으로 변환하기
'''
  {} -> row , 'key:value' -> column
'''
import pandas as pd

# DataFrame 객체를 생성하면서 생성자의 parameter 에 
# dictionary 를 요소로 하는 list 를 전달함
record_df = pd.DataFrame(rows)
record_df.head()

,a,c,nk,tz,gr,g,h,l,al,hh,r,u,t,hc,cy,ll,_heartbeat_,kw
0,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,1.0,America/New_York,MA,A6qOVH,wfLQtf,orofrog,"en-US,en;q=0.8",1.usa.gov,http://www.facebook.com/l/7AQEFzjSi/1.usa.gov/...,http://www.ncbi.nlm.nih.gov/pubmed/22415991,1.331923e+09,1.331823e+09,Danvers,"[42.576698, -70.954903]",NaN,NaN
1,GoogleMaps/RochesterNY,US,0.0,America/Denver,UT,mwszkS,mwszkS,bitly,NaN,j.mp,http://www.AwareMap.com/,http://www.monroecounty.gov/etc/911/rss.php,1.331923e+09,1.308262e+09,Provo,"[40.218102, -111.613297]",NaN,NaN
2,Mozilla/4.0 (compatible; MSIE 8.0; Windows NT ...,US,1.0,America/New_York,DC,xxr3Qb,xxr3Qb,bitly,en-US,1.usa.gov,http://t.co/03elZC4Q,http://boxer.senate.gov/en/press/releases/0316...,1.331923e+09,1.331920e+09,Washington,"[38.9007, -77.043098]",NaN,NaN
3,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_6_8)...,BR,0.0,America/Sao_Paulo,27,zCaLwp,zUtuOu,alelex88,pt-br,1.usa.gov,direct,http://apod.nasa.gov/apod/ap120312.html,1.331923e+09,1.331923e+09,Braz,"[-23.549999, -46.616699]",NaN,NaN
4,Mozilla/5.0 (Windows NT 6.1; WOW64) AppleWebKi...,US,0.0,America/New_York,MA,9b6kNl,9b6kNl,bitly,"en-US,en;q=0.8",bit.ly,http://www.shrewsbury-ma.gov/selco/,http://www.shrewsbury-ma.gov/egov/gallery/1341...,1.331923e+09,1.273672e+09,Shrewsbury,"[42.286499, -71.714699]",NaN,NaN

In [89]:
record_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3560 entries, 0 to 3559
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   a            3440 non-null   object
 1   c            2919 non-null   object
 2   nk           3440 non-null   float64
 3   tz           3440 non-null   object
 4   gr           2919 non-null   object
 5   g            3440 non-null   object
 6   h            3440 non-null   object
 7   l            3440 non-null   object
 8   al           3094 non-null   object
 9   hh           3440 non-null   object
 10  r            3440 non-null   object
 11  u            3440 non-null   object
 12  t            3440 non-null   float64
 13  hc           3440 non-null   float64
 14  cy           2919 non-null   object
 15  ll           2919 non-null   object
 16  _heartbeat_  120 non-null    float64
 17  kw           93 non-null     object
dtypes: float64(4), object(14)
memory usage: 500.8+ KB

In [90]:
'''
289 page

sqlite3 - 내장형 DBMS
        - 기기 내부에서만 사용 가능함
        - 외부 접근이 허용되지 않음
'''
import sqlite3
'''
from sqlite3 import *
from sqlite3 import connect
'''

In [91]:
print(sqlite3.sqlite_version_info)

(3, 37, 0)

In [93]:
try:
    # db 연결하기 - Connection 객체 생성하기
    # sqlite3 묘듈에 정의 되어있는 connect() 함수를 호출함
    conn = sqlite3.connect("C:/Users/user/python_week/test/day09/data/sqlite_db")
    # sql 실행 객체 생성하기
    cursor = conn.cursor()

    # table 생성하기
    sql = "create table if not exists test_table (name text(10), phone text(15), addr text(50))"

    # sql 문 실행하기
    cursor.execute(sql)

    # record 추가하기
    cursor.execute("insert into test_table values('이순신','010-1234-1234','서울시')")
    cursor.execute("insert into test_table values('더조은','010-2222-2222','광주시')")
    cursor.execute("insert into test_table values('아이티','010-3333-3333','부산시')")

    # DML 작업을 최종적으로 DB 에 반영함
    conn.commit()

    # 레코드 조회하기 : * (모든 컬럼을 의미함)
    cursor.execute("select * from test_table")
    rows = cursor.fetchall()

    for row in rows:
        print(row)
    print("-" * 50)    

    print("이름 \t전화번호 \t\t주소")
    for row in rows:
        print(row[0],'\t',row[1],'\t',row[2])

except Exception as e:
    print("DB 연결 실패 :",e)
    # DML 작업한 부분 실행 취소
    conn.rollback()
    
finally:
    cursor.close()
    conn.close()

('홍길동', '010-1111-1111', '서울시')
('이순신', '010-2222-2222', '해남시')
('강감찬', '010-1111-1111', '평양시')
('이순신', '010-1234-1234', '서울시')
('더조은', '010-2222-2222', '광주시')
('아이티', '010-3333-3333', '부산시')
--------------------------------------------------
이름 	전화번호 		주소
홍길동 	 010-1111-1111 	 서울시
이순신 	 010-2222-2222 	 해남시
강감찬 	 010-1111-1111 	 평양시
이순신 	 010-1234-1234 	 서울시
더조은 	 010-2222-2222 	 광주시
아이티 	 010-3333-3333 	 부산시

In [101]:
'''
291 page
'''

try :
    # db 연동 객체 
    conn = sqlite3.connect("C:/Users/user/python_week/test/day09/data/sqlite_db")
    # sql 실행 객체 
    cursor = conn.cursor()
    '''
    # 1. table 생성 
    sql = """create table if not exists goods(
    code integer primary key,
    name text(30) unique not null,
    su integer default 0,
    dan real default 0.0
    )"""
    
    cursor.execute(sql) # sql 실행
    
    # 2. 레코드 추가 
    
    cursor.execute("insert into goods values(1, '냉장고', 2, 8500000)")
    cursor.execute("insert into goods values(2, '세탁기', 3, 5500000)")
    cursor.execute("insert into goods(code, name) values(3, '전자레인지')")
    cursor.execute("insert into goods(code, name, dan) values(4, 'HDTV', 15000000)")
    conn.commit() # db 반영 
    '''
    
    # 4. 레코드 추가 : 2차
    '''
    code = int(input('code 입력 : '))
    name = input('name 입력 : ') # 문자 
    su = int(input('su 입력 : '))
    dan = int(input('dan 입력 : '))
    sql = f"insert into goods values({code},'{name}',{su},{dan})"
    cursor.execute(sql) # 레코드 추가 
    conn.commit()     
    '''
    
    # 5. 레코드 수정 : code -> su, dan
    '''
    code = int(input('수정 code 입력 : '))
    su = int(input('수정 su 입력 : '))
    dan = int(input('수정 dan 입력 : '))
    
    sql = f"update goods set su = {su}, dan = {dan} where code = {code}"
    cursor.execute(sql) # 수정 
    conn.commit() # db 반영 
    '''
    
    # 6. 레코드 삭제 : code -> 삭제
    
    code = int(input('삭제 code 입력 : '))
    sql = f"delete from goods where code = {code}"
    cursor.execute(sql) # 삭제 
    conn.commit() # db 반영 
    

    # 3. 레코드 조회 
    sql = "select * from goods" 
    cursor.execute(sql)
    dataset = cursor.fetchall() # 레코드 가져오기
    
    for row in dataset :
        print(row[0], row[1], row[2], row[3]) 
        
    print('검색된 레코드 수 : ', len(dataset))
    print("=" * 50)
    
    # 상품명 조회 
    name = input("상품명 입력 : ")
    sql = f"select * from goods where name like '%{name}%'"
    cursor.execute(sql) # 조회 
    dataset = cursor.fetchall()
    
    if dataset : # null = false
        for row in dataset :
            print(row)
    else :
        print('검색된 레코드 없음')          

except Exception as e :
    print('db 연동 error :', e)
    conn.rollback()

finally:
    cursor.close()
    conn.close()

삭제 code 입력 : 5
1 냉장고 2 8500000.0
2 세탁기 3 5500000.0
3 전자레인지 0 0.0
4 HDTV 0 15000000.0
검색된 레코드 수 :  4
==================================================
상품명 입력 : 냉장고
(1, '냉장고', 2, 8500000.0)